@import url("https://fonts.googleapis.com/css?family=Alegreya");
ul, li, a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Alegreya', serif;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(6rem, 1fr) (minmax(min-content, 16rem))[8] minmax(6rem, 1fr);
      grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(-webkit-min-content, 16rem)) minmax(6rem, 1fr);
      grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr);
  -ms-grid-rows: (min-content)[3] 70vh (min-content)[5];
      grid-template-rows: repeat(3, -webkit-min-content) 70vh repeat(5, -webkit-min-content);
      grid-template-rows: repeat(3, min-content) 70vh repeat(5, min-content);
  grid-row-gap: 1.6rem;
  margin-top: 1.6rem;
}

.social__icons {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(5rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-icon {
  color: #12376e;
  font-size: 1.8rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.social-icon:hover {
  color: #34598f;
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}

.first-nav {
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-column: 6/10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.first-nav__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  list-style: none;
}

.first-nav__link a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #12376e;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.first-nav__link i {
  font-size: 1.3rem;
  margin-right: .3rem;
}

.first-nav__link span {
  font-size: 1.3rem;
  color: #34598f;
}

.first-nav__link::after {
  content: "";
  height: .1rem;
  background-color: #12376e;
  width: 0%;
  margin: auto;
  display: block;
  -webkit-transition: all 0.2s cubic-bezier(0.55, 0, 0.98, 0.54);
  transition: all 0.2s cubic-bezier(0.55, 0, 0.98, 0.54);
}

.first-nav__link:hover::after {
  width: 100%;
}

.search {
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8/10;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.search__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10%)[10];
      grid-template-columns: repeat(10, 10%);
}

.search__input {
  grid-column: 3/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding: .3rem .4rem;
  border: none;
  border-bottom: 1px solid #12376e;
  font-size: 1.3rem;
  outline: none;
}

.search__btn {
  grid-column: 10/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.second-nav {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  border-top: 1px solid #12376e;
  border-bottom: 1px solid #12376e;
}

.second-nav__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  list-style: none;
}

.second-nav__item:hover .second-nav__link {
  background-color: #12376e;
  color: white;
}

.second-nav__link {
  display: -ms-grid;
  display: grid;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #12376e;
  padding: .8rem 0;
  -webkit-transition: all .5s .3s;
  transition: all .5s .3s;
}

.second-nav__link::after {
  -ms-grid-column-align: end;
      justify-self: end;
}

.second-nav__link::before, .second-nav__link::after {
  content: '';
  width: 0%;
  height: .1rem;
  background-color: #12376e;
  display: block;
  -webkit-transition: width 0.3s cubic-bezier(0.55, 0, 0.98, 0.54), background-color 0.5s 0.3s;
  transition: width 0.3s cubic-bezier(0.55, 0, 0.98, 0.54), background-color 0.5s 0.3s;
}

.second-nav__link:hover::before, .second-nav__link:hover::after {
  content: '';
  width: 100%;
  height: .1rem;
  background-color: white;
  display: block;
}

.second-nav__item:first-child {
  position: relative;
}

.second-nav__item:first-child:hover .dropdown {
  visibility: visible;
  opacity: 1;
}

.dropdown {
  position: absolute;
  top: 100%;
  width: 70rem;
  background-color: #fffeee;
  padding: 1.6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10rem)[7];
      grid-template-columns: repeat(7, 10rem);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 100;
}

.dropdown__first-list {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.dropdown__second-list {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

.dropdown__image {
  grid-column: 5/-1;
  width: 100%;
}

.dropdown__list-item {
  list-style: none;
}

.dropdown__list-link {
  font-size: 1.3rem;
  color: #345985;
  text-transform: uppercase;
  margin: 0 0 1rem 1.6rem;
  display: block;
}

.dropdown__list-link:hover {
  color: #458a9f;
}

.banner {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  background-color: #ccc;
  position: relative;
}

.banner__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  z-index: 50;
}

.banner__heading {
  font-size: 10rem;
  color: #12376e;
  margin-bottom: 6rem;
}

.banner__btn {
  width: 16rem;
  height: 5rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#00154c), color-stop(#12376e), to(#23487f));
  background: linear-gradient(to top, #00154c, #12376e, #23487f);
  outline: none;
  color: white;
  border: none;
  text-align: center;
  border-radius: .3rem;
  position: relative;
  overflow: hidden;
}

.banner__btn:hover .banner__btn-text1 {
  top: -100%;
}

.banner__btn:hover .banner__btn-text2 {
  top: 50%;
}

.banner__btn-text1 {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  -webkit-transition: top .2s;
  transition: top .2s;
}

.banner__btn-text2 {
  position: absolute;
  top: -150%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  -webkit-transition: top .2s;
  transition: top .2s;
}

.slideshow {
  height: 100%;
  overflow: hidden;
}

.slideshow__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400%;
  height: 100%;
  position: relative;
  -webkit-animation: slideshow 30s infinite;
          animation: slideshow 30s infinite;
}

.slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes slideshow {
  0% {
    left: 0;
  }
  10% {
    left: 0;
  }
  15% {
    left: -100%;
  }
  25% {
    left: -100%;
  }
  30% {
    left: -200%;
  }
  40% {
    left: -200%;
  }
  45% {
    left: -300%;
  }
  55% {
    left: -300%;
  }
  60% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -100%;
  }
  85% {
    left: -100%;
  }
  90% {
    left: 0%;
  }
}

@keyframes slideshow {
  0% {
    left: 0;
  }
  10% {
    left: 0;
  }
  15% {
    left: -100%;
  }
  25% {
    left: -100%;
  }
  30% {
    left: -200%;
  }
  40% {
    left: -200%;
  }
  45% {
    left: -300%;
  }
  55% {
    left: -300%;
  }
  60% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -100%;
  }
  85% {
    left: -100%;
  }
  90% {
    left: 0%;
  }
}

.slide__btn {
  width: 1.3rem;
  height: 1.3rem;
  background-color: #bbb;
  border: .2rem solid #d38800;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  z-index: 20;
  position: absolute;
  top: 90%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.slide__btn:hover {
  background-color: #12376e;
}

.slide__btn1 {
  left: 47%;
}

.slide__btn1:hover ~ .slideshow__wrapper {
  -webkit-animation: none;
          animation: none;
  left: 0;
}

.slide__btn2 {
  left: 49%;
}

.slide__btn2:hover ~ .slideshow__wrapper {
  -webkit-animation: none;
          animation: none;
  left: -100%;
}

.slide__btn3 {
  left: 51%;
}

.slide__btn3:hover ~ .slideshow__wrapper {
  -webkit-animation: none;
          animation: none;
  left: -200%;
}

.slide__btn4 {
  left: 53%;
}

.slide__btn4:hover ~ .slideshow__wrapper {
  -webkit-animation: none;
          animation: none;
  left: -300%;
}

.dayoffer {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
  grid-gap: 1.6rem 3.2rem;
  justify-items: center;
}

.dayoffer__img-one {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  grid-row: 1/-1;
  width: 100%;
}

.dayoffer__heading {
  grid-column: 3/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 6rem;
  color: #23487f;
}

.dayoffer__paragraph {
  grid-column: 3/-1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: 3rem;
  color: #34598f;
}

.dayoffer__btn {
  grid-column: 3/-1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  width: 16rem;
  padding: 1rem;
  font-size: 1.4rem;
  color: white;
  border: none;
  outline: none;
  border-radius: 5rem;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left bottom, left top, from(#00154c), color-stop(#12376e), to(#23487f));
  background: linear-gradient(to top, #00154c, #12376e, #23487f);
  -webkit-box-shadow: .2rem .2rem 1rem #777;
          box-shadow: .2rem .2rem 1rem #777;
}

.dayoffer__btn:hover {
  -webkit-box-shadow: .2rem .2rem 2rem #777;
          box-shadow: .2rem .2rem 2rem #777;
}

.dayoffer__img-two {
  grid-column: 3/-1;
  grid-row: 4/-1;
  width: 100%;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.bestselling {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.bestselling__header {
  font-size: 4.5rem;
  color: #23487f;
  text-align: center;
  margin: 3rem 0;
}

.bestselling__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 6.4rem;
}

.bestselling__card {
  background-color: #efefef;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.bestselling__img {
  width: 100%;
  border-radius: .3rem .3rem 0 0;
}

.bestselling__heading {
  background-color: #fffddd;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 2.4rem;
  color: #458a9f;
  padding: .5rem 0;
  border-radius: .2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bestselling__paragraph {
  font-size: 1.9rem;
  color: #23487f;
  text-align: center;
  margin-bottom: 1.6rem;
}

.bestselling__btn {
  width: 100%;
  padding: 1.6rem 0;
  border: none;
  background-color: #12376e;
  color: white;
  font-size: 1.9rem;
  border-radius: 0 0 .3rem .3rem;
}

.bestselling__btn:hover {
  background-color: #23487f;
}

.gallery {
  grid-column: 1/-1;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(1rem, 1fr))[8];
      grid-template-columns: repeat(8, minmax(1rem, 1fr));
  -ms-grid-rows: (10vw)[4];
      grid-template-rows: repeat(4, 10vw);
  grid-gap: 1.6rem;
  margin-top: 6.4rem;
  background-color: #23487f;
  padding: 1.6rem 0;
}

.gallery__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .5;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.gallery__image:hover {
  opacity: 1;
}

.gallery__image-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.gallery__image-2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.gallery__image-3 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.gallery__image-4 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.gallery__image-5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.gallery__image-6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.gallery__image-7 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.gallery__image-8 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

.gallery__image-9 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.gallery__image-10 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.gallery__image-11 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.gallery__image-12 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

.contact {
  grid-column: 1/-1;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3rem;
  background-color: #12376e;
  padding: 2rem 0;
}

.contact__heading {
  -ms-grid-column-align: end;
      justify-self: end;
  font-size: 2rem;
  color: white;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__form input {
  outline: none;
  padding: .4rem 1rem;
  border: .1rem solid #fff;
}

.contact__input {
  border-radius: 5rem 0 0 5rem;
  border-right: none;
}

.contact__btn {
  background-color: #34598f;
  color: white;
  border-radius: 0 5rem 5rem 0;
  border-left: none;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.contact__btn:hover {
  background-color: #12376e;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */