@import url('https://fonts.googleapis.com/css?family=Alegreya');

$color-primary:#12376e;
$color-primary-hover:#34598f;

ul,li,a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Alegreya', serif;
}

* {
    margin: 0;
    padding: 0;
}
// NAVIGATION SECTION

.container{
    display: grid;
    grid-template-columns: minmax(6rem,1fr) repeat(8,minmax(min-content,16rem))minmax(6rem,1fr);
    grid-template-rows: repeat(3,min-content);
    grid-row-gap: 1.6rem;
    margin-top: 1.6rem;
}

.social__icons {
    grid-column: 2/4;
    grid-row: 1/2;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(5rem,1fr));
    align-items: center;
}

.social-icon {
    color: $color-primary;
    font-size: 1.8rem;
    transition: all .2s;
    &:hover{
        color: $color-primary-hover;
        transform: rotateZ(360deg);
    }
}

.first-nav {
    grid-column: 6/10;
    grid-row: 1/2;

    &__list{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
        list-style: none;
    }

    

    &__link {
        a {
            text-decoration: none;
            font-size: 1.6rem;
            color: $color-primary;
            display: inline-block;
            width: 100%;
            text-align: center;
        }

        i {
            font-size: 1.3rem;
            margin-right: .3rem;
        }

        span {
            font-size: 1.3rem;
            color: $color-primary-hover;
        }
        

        &::after {
            content: "";
            height: .1rem;
            background-color: $color-primary;
            width: 0%;
            margin: auto;
            display: block;
            transition: all .2s cubic-bezier(.55,0,.98,.54);
        }

        &:hover::after {
            width: 100%;
        }
    }
}

.search {
    grid-column: 8/10;
    grid-row: 2/3;

    &__form {
        display: grid;
        grid-template-columns: repeat(10,10%);
    }

    &__input {
        grid-column: 3/-1;
        grid-row: 1/2;
        padding: .3rem .4rem;
        border: none;
        border-bottom: 1px solid $color-primary;
        font-size: 1.3rem;
        outline: none;
    }
    
    &__btn {
        grid-column: 10/-1;
        grid-row: 1/2;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}

.second-nav {
    grid-column: 2/10;
    grid-row: 3/4;
    border-top: 1px solid $color-primary;
    border-bottom: 1px solid $color-primary;
    

    &__list{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
        list-style: none;
    }

    &__item:hover &__link {
        background-color: $color-primary;
        color:white;
    }

    &__link {
        display: grid;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.4rem;
        color: $color-primary;
        padding: .8rem 0;
        transition: all .5s .3s;

        &::after {
            justify-self: end;
        }

        &::before,&::after{
            content: '';
            width: 0%;
            height: .1rem;
            background-color: $color-primary;
            display: block;
            transition: width .3s cubic-bezier(.55,0,.98,.54),background-color .5s .3s;
        }

        &:hover::before,&:hover::after{
            content: '';
            width: 100%;
            height: .1rem;
            background-color: white;
            display: block;
        }

    }

    &__item:first-child {
        position: relative;
    }

}

// dropdown

.second-nav__item:first-child:hover .dropdown {
    visibility: visible;
    opacity: 1;
}

.dropdown {
    position: absolute; 
    top: 100%;  
    width: 70rem;
    background-color: #fffeee;
    padding: 1.6rem;
    display: grid;
    grid-template-columns: repeat(7,10rem);
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
    
    &__first-list {
        grid-column: 1/3;
    }

    &__second-list {
        grid-column: 3/5;
    }

    &__image {
        grid-column: 5/-1;
        width: 100%;
    }

    &__list-item{
        list-style: none;
    }

    &__list-link{
        font-size: 1.3rem;
        color: #345985;
        text-transform: uppercase;
        margin: 0 0 1rem 1.6rem;
        display: block;

        &:hover {
            color: #458a9f;
        }
    }
}
// END OF NAVIGATION